* {
				font-family: Arial, Verdana, sans-serif;
				color: black;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Australian_outback_-_Australische_Outback.jpg/1280px-Australian_outback_-_Australische_Outback.jpg");
        background-size: cover;
        background-repeat:repeat;
        background-position: center;
        }
			h1 {
   font-family: 'Dodgy Ultra Ultra';
   font-weight: normal;
   font-style: normal;
} 
      #content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
     #nav {
       background-color: pink;
       padding: 0.5em;
       }
     #footer {
       margin: 1%;
       background-color: purple;
       padding: 0.5em; 
       }
       
       li {
				display: inline;
				padding: 0.5em;}
       
       .column1 {
          width: 31.3%;
          float: left;
          margin: 1%;
          background-color: red;
        }
        .column2 {
          width: 31.3%;
          float: left;
          margin: 1%;
          background-color: greenyellow;
        }
        .column3 {
          width: 31.3%;
          float: left;
          margin: 1%;
          background-color: turquoise;
        }
        #feature {
 margin: 1%;
 height: 10em;
 margin-bottom: 1em;
 background-color: lightblue;
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Seattle_4.jpg/1280px-Seattle_4.jpg");
 background-size:contain;
 background-position: right;
 background-repeat:no-repeat;
 }
.article {
				height: 10em;
				margin-bottom: 1em; }
				
