  body {
    margin: 0px;
    padding: 0px;
    background-image: url("https://i.redd.it/m4qms3gp99za1.png");
    background-size: cover;
    background-position: center;
    text-align: center;
  }
/* 
   Adjusted the header as it was floating instead of scrolling with
the rest of the page. 
   
*/
#header {
  position: relative;
  width: 100%;         /* Yevgeniy Mazur set 1 */
  align-content: top;
}
  /* Title styles */
  #title {

    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;                     /* Yevgeniy Mazur set 1, Title with font change */
    width: 100%;
    background-color: #62C2CE;
    text-align: center;
    z-index: 10;
    font-family: 'dogica', sans-serif;
    font-size: 68px;
    font-weight: normal;
  }

  /* Container and chessboard layout */
  #container {
    display: inline-block;
    border: 4px solid #000;
    background: #fff;
    margin-top: 5%; /* Changed to use % instead of px */
  }

  .row {
    display: flex;
  }
 /* Yevgeniy Mazur set 1 */
  .red, .black {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000; /* Optional border for clarity */
  }
/* Yevgeniy Mazur set 1 */
  .red {
    background-color: greenyellow;
  }

  .black {
    background-color: #66cdaa;
  }

  /* Chess piece styles */
  .red img, .black img {
    width: 80%; /* Yevgeniy Mazur set 1 */
    height: auto;
  }

   #footer {
    margin-top: 60px;
    margin-bottom: 0px;
    border: solid 1px;
    padding: 40px;
    background-color: #62C2CE;
    text-align: center;
  }

  img {
    margin-left: 0px;
    margin-top: 10px;
  }
