body {
  height: 100vh;
  background: beige;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.dot {
  position: absolute;
  border-radius: 50%;
}

#controls {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
}
